{% extends 'core/base.html' %}

{% block title %}
Criar conta | Ecomply
{% endblock %}


{% block content %}

    <h1>Crie sua conta</h1>

    <p>
        Cadastre-se no Ecomply e comece a explorar nossas ferramentas.
    </p>

    <form method="POST">

        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">
            Criar conta
        </button>

    </form>

    <p>
        Já possui uma conta?
        <a href="{% url 'login' %}">
            Entrar
        </a>
    </p>

{% endblock %}