{% extends 'core/base.html' %}

{% block title %}
Editar Perfil | Ecomply
{% endblock %}

{% block content %}
<section class="perfil-container">
    <div class="perfil-card text-center">
        <span class="badge">Configurações</span>
        <h1 class="perfil-title">Editar dados</h1>
        <p class="perfil-subtitle">
            Atualize as informações da sua conta.
        </p>

        <form method="POST" class="auth-form">
            {% csrf_token %}

            <div class="django-form-fields">
                {{ form.as_p }}
            </div>

            <div class="form-actions-stack">
                <button type="submit" class="btn btn-primary btn-block">
                    Salvar alterações
                </button>
                <a href="{% url 'perfil' %}" class="btn btn-secondary btn-block text-center">
                    Cancelar
                </a>
            </div>
        </form>
    </div>
</section>
{% endblock %}