<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Ecomply</title>
</head>

<body>

    <h1>Bem-vindo ao Ecomply</h1>

    <p>
        ESG de forma simples e acessível para pequenas e médias empresas
        de e-commerce de moda.
    </p>

    {% if user.is_authenticated %}

        <p>Olá, {{ user.username }}!</p>
        <a href="{% url 'feedback' %}">Dar feedback</a>

        <a href="{% url 'logout' %}">Sair</a>

    {% else %}

       <a href="{% url 'login' %}">Entrar</a>

       <a href="{% url 'cadastro' %}">Criar conta</a>

{% endif %}

</body>

</html>