{% extends 'core/base.html' %}

{% block title %}
Início | Ecomply
{% endblock %}


{% block content %}

    <h1>Bem-vindo ao Ecomply</h1>

    <p>
        ESG de forma simples e acessível para pequenas e médias empresas
        de e-commerce de moda.
    </p>

    {% if user.is_authenticated %}

        <h2>Olá, {{ user.username }}!</h2>

        <p>
            Explore o Ecomply e descubra como tornar sua empresa
            mais sustentável.
        </p>

    {% else %}

        <p>
            Crie sua conta para começar a utilizar o Ecomply.
        </p>

        <a href="{% url 'cadastro' %}">
            Criar conta
        </a>

        <a href="{% url 'login' %}">
            Entrar
        </a>

    {% endif %}

{% endblock %}